<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url(https://img.wallpapersafari.com/desktop/1440/900/14/57/i4Vlef.jpg);">  
    <mat-card class="uk-width-1-3@m uk-width-1-2@s">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom" >
            <h3 style="color: rgb(255, 255, 255);">REGISTER</h3>
        </div>
        <mat-card-content>
          <div>
            <mat-form-field class="uk-width-1-1" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Ex. Madafakah">
              </mat-form-field>
            </div><div>
          <mat-form-field class="uk-width-1-1" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. email@domain.com">
          </mat-form-field>
        </div><div>
          <mat-form-field class="uk-width-1-1" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Your password">
          </mat-form-field>
        </div><div>
          <mat-form-field class="uk-width-1-1" appearance="outline">
            <mat-label>Re-Type Password</mat-label>
            <input matInput placeholder="Your password">
          </mat-form-field>
        </div>
          <div class="uk-flex uk-flex-right">
            <div class="uk-width-expand">
              <button mat-button routerLink="/login">I Have Account</button>
              <button mat-button routerLink="/forgot">Forgot</button>
            <button mat-raised-button color="primary" routerLink="/admin/dashboard">Create</button>
          </div>
        </div>
        </mat-card-content>
  </mat-card>
  </div>
