<div class="uk-height-viewport" style="background-color: rgb(119, 72, 103);">

    <div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
        <mat-spinner></mat-spinner>
    </div>    
    
    <mat-card *ngIf="!loading" >
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <div class="uk-flex">
                <span class="uk-width-expand"></span>
                <button mat-flat-button color="primary" (click)="fnbDetail({},-1)">Tambah Produk</button>
            </div>
            <table class="uk-table uk-table-middle uk-table-divider ">
                <thead>                
                    <th>No</th>
                    <th>Code</th>
                    <th>Event Name</th>
                    <th>Organizer</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th align="right"></th>
                </thead>
                <tbody>
                    <tr *ngFor= "let fnb of fnbs; let idx=index">
                       <td>{{idx+1}}</td>
                        <td >{{fnb.code}}</td>
                        <td>{{fnb.event_name}}</td>
                        <td>{{fnb.organizer}}</td>
                        <td>{{fnb.location}}</td>
                        <td>{{fnb.date}}</td>
                        <td>{{fnb.price}}</td>
                        <td align="right">
                            <button mat-button color="primary" (click)="buyProduct(idx)">Buy</button>
                            <button mat-button color="primary" (click)="fnbDetail(fnb,idx)">Edit</button>
                            <button mat-button color="warn" (click)="deleteProduct(fnb.id,idx)" >Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
    </div>