<div class="uk-height-viewport" style="background-color: rgb(119, 72, 103);">
    <mat-card class="" >
        <mat-card-header>
            <mat-card-title>Music</mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <div class="uk-flex">
                <span class="uk-width-expand"></span>
                <button mat-flat-button color="primary">Tambah Produk</button>
            </div>
            <table class="uk-table uk-table-middle uk-table-divider ">
                <thead>                
                    <th>No</th>
                    <th class="uk-flex uk-flex-center">Pamflet</th>
                    <th>Event Name</th>
                    <th>Organizer</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th align="right"></th>
                </thead>
                <tbody>
                    <tr>
                       <td>idx+1</td>
                        <td class="uk-flex uk-flex-center">
                            <img style="width: 30%;" mat-card-img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/food-fest-event-flyer-template-design-ad1f6422ea34e9edfcaac9a061d10bc8_screen.jpg?ts=1568719869">
                        </td>
                        <td>Food Fest</td>
                        <td>Entertainment</td>
                        <td>Tiki Bar</td>
                        <td>25 October</td>
                        <td>$10</td>
                        <td align="right">
                            <button mat-button color="primary">
                                Buy
                                <mat-icon>download</mat-icon>
                            </button>
                            <button mat-button color="primary" >Upload</button>
                            <button mat-button color="primary" >Edit</button>
                            <button mat-button color="warn" >Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
    </div>