h1{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 42pt;
}
h2{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 30pt;
}
p{
    text-align: center;
    font-size: medium;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}