
<div class="uk-flex uk-flex-middle uk-flex-center  uk-flex-column uk-height-viewport" style="background-image: url(https://img.wallpapersafari.com/desktop/1440/900/14/57/i4Vlef.jpg);">

    <div class="uk-flex uk-flex-center uk-flex-top"><h1>Categories</h1></div>
    <div class="uk-flex uk-margin-top uk-flex-center uk-flex-middle ">
    <mat-card  style="background-color: rgb(80, 11, 57);" routerLink="/admin/music">
                <h2 class="uk-flex uk-flex-center">Music</h2>
                <p class="uk-flex uk-flex-center">choose a music category that suits your taste</p>
    </mat-card>
    <mat-card class="uk-margin-left" style="background-color: rgb(80, 11, 57);" routerLink="/admin/art">
        <h2 class="uk-flex uk-flex-center">Art</h2>
        <p class="uk-flex uk-flex-center">choose your favorite category of art to enjoy all day</p>
    </mat-card>
    <mat-card class="uk-margin-left" style="background-color: rgb(80, 11, 57);" routerLink="/admin/sport">
        <h2 class="uk-flex uk-flex-center">Sport</h2>
        <p class="uk-flex uk-flex-center">choose your favorite category of sport for your health</p>

    </mat-card>
    <mat-card class="uk-margin-left" style="background-color: rgb(80, 11, 57);" routerLink="/admin/etc">
        <h2 class="uk-flex uk-flex-center">F&B</h2>
        <p class="uk-flex uk-flex-center">choose your favorite category of food of all time</p>
    </mat-card>
</div>
</div>


<!--<ng-container>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="uk-width-1-3@m uk-width-1-2@s" routerLink="/admin/music">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom" >
            <h2 style="color: rgb(255, 255, 255);">Music</h2>
            <mat-icon matGridIcon>music</mat-icon>
        </div>
    </mat-card>
</mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="uk-width-1-3@m uk-width-1-2@s" routerLink="/admin/art">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <h2 style="color: rgb(255, 255, 255);">Art</h2>
            <mat-icon matIcon>music</mat-icon>
        </div>
  </mat-card>
</mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="uk-width-1-3@m uk-width-1-2@s" routerLink="/admin/sprot">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <h2 style="color: rgb(255, 255, 255);">Sport</h2>
            <mat-icon matIcon>music</mat-icon>
        </div>
  </mat-card>
</mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="uk-width-1-3@m uk-width-1-2@s" routerLink="/admin/etc">
            <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
                <h2 style="color: rgb(255, 255, 255);">ETC</h2>
                <mat-icon matIcon>music</mat-icon>
            </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>-->